BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 110
ObjCBlockIndentWidth: 4
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
BreakBeforeBraces: Attach
InsertBraces: true
SortIncludes: Never
